<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">

<!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>未回复危急值列表</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body class="no-trans">
	<!-- banner start -->
	<!-- ================ -->
	<div layout:fragment="content" id="banner" class="banner">
		<div class="banner-image"></div>
		<div class="banner-caption">
			<div class="container">
				<div class="row">
					<div>
						<table class="table table-hover">
							<tr>
								<th>标识</th>
								<th>患者姓名</th>
								<th>类型</th>
								<th>信息</th>
								<th>所属部门</th>
								<th>操作人</th>
								<th>操作时间</th>
							</tr>
							<tr th:each="log,logStat : ${logs}">
								<td><input type="hidden" name="ids"
									th:value="${log.id}" /></td>
								<td th:text="${log.visitName}"></td>
								<td th:text="${log.type}"></td>
								<td th:text="${log.info}"></td>
								<td th:text="${log.deptName}"></td>
								<td th:text="${log.operatorName}"></td>
								<td
									th:text="${#calendars.format(log.createDate,'yyyy-MM-dd HH:mm')}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- banner end -->
</body>
</html>
